.li_list{
    list-style: none;
    position: absolute;
    top: 50%;
    left:43%;
    transform: translate(-50%, -50%);
    list-style: none;
    display:block;
     display:flex;
     flex-direction: row;
     align-items: center;
     margin-right:20px;
    justify-content:space-between;
    flex-wrap:wrap;


margin: 0 auto;
}
.game__bot_text{
    
    
    height: 82px;
    margin-left: 30px;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    
}

.game_series{
    
    cursor: pointer;
}

.game-title{
    display: block;
    font-weight: bold;
}
.album{
    max-width:1000px;
}
.album>img{
    width:90%;
    height: auto;
}